h1{
    color: red;
}
body{
    background-color: azure;
    margin: 25px;
    padding: 10px;
}
.addNewComment{
    border-radius: 5px;
    position: relative;
    padding: 25px;
    height: 120px;
    width: 500px;
    background-color: white;
    border: 5px solid black;
}

#changeLikesBox{
    border-radius: 5px;
    position: absolute;
    margin: auto;
    padding: 5px;
    width: 20px;
    height: auto;
    background-color: aqua;
    border: solid grey;
    
    
}

.changeLike{
    opacity: 0.6;
    cursor: pointer;
    color: darkblue;
    background-color: aqua;
    border: aqua;
   
}
.changeLike:hover { opacity: 2;}


